{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
  <h3 class="text-white my-5">About page</h3>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptatibus praesentium asperiores sit tempore nulla voluptate dolorum suscipit voluptatum harum soluta, ipsam aliquam corrupti culpa, officia quasi nostrum eum provident!</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit adipisci ad quasi, debitis officia modi fuga repudiandae amet error rerum. Reprehenderit ad eaque facere impedit.</p>

</div>

{% endblock content %}